.game-tiles-section {
  border-style: solid;
  border-radius: 11px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  width: 95%;
  margin: 1vw;
  overflow: scroll;
  contain: content;
}

.back-to-dashboard {
  font-family: 'Montserrat', sans-serif;
  margin: 15px;
  width: auto;
  padding: 5px 25px;
  font-size: 18px;
  background: none;
  color: black;
  border: 1px black solid;
  transition-duration: 300ms;
}

.back-to-dashboard:hover {
  transform: scale(1.05);
  color: white;
  cursor: pointer;
  background: rgb(135, 11, 194);
  background: linear-gradient(45deg, rgba(135, 11, 194, 1) 1%, rgba(14, 59, 157, 1) 49%, rgba(0, 255, 214, 1) 100%);
  background-repeat: no-repeat;
  border: 1px solid transparent;
}