.friends-games-container {
  border-style: solid;
  border-radius: 11px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2vw;
  padding: 20px 10px;
  align-items: center;
  text-align: center;
  height: auto;
  min-height: 20em;
  width: 90%;
  margin-bottom: 1em;
  overflow: scroll;
  contain: content;
  margin-left: 2em;
}