.friends-games-container {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: solid black 3px;
    border-radius: 11px;
    margin: auto;
    height: 100%;
    min-height: 20em;
    width: 93vw;
    padding: 1.5em;
}

