.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgb(0, 0, 0, 0.7);
  z-index: 1;

}

.game-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 75vh;
  background: white;
  border: 4px solid rgb(0, 230, 201);
  border-radius: 12px;
  padding: 20px;
  overflow: scroll;
  background: rgb(135, 11, 194);
  background: linear-gradient(45deg, rgba(135, 11, 194, 1) 1%, rgba(14, 59, 157, 1) 49%, rgba(0, 255, 214, 1) 100%);
  background-repeat: no-repeat;
  color: white;
  font-size: 20px;
}

.close-modal-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 10%;
}

.close-modal-button {
  background: none;
  border: none;
  transition-duration: 300ms;
  font-size: 20px;
}

.close-modal-button:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

.modal-header h1 {
  font-size: 60px;
}

.modal-content {
  display: flex;
}

.modal-image {
  height: 400px;
  width: auto;
}

.modal-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  margin-left: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.more-info {
  color: white;
  font-weight: 500;
  transition-duration: 300ms;
}

.more-info:hover {
  cursor: pointer;
  text-decoration: underline;
}

.modal-buttons {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-button {
  font-family: 'Montserrat', sans-serif;
  margin: 15px;
  width: auto;
  padding: 5px 25px;
  font-size: 18px;
  background: none;
  color: white;
  border: 1px white solid;
  transition-duration: 300ms;
}

.modal-button:hover {
  transform: scale(1.05);
  color: black;
  cursor: pointer;
  background: white;
  border: 1px black solid;
}