.navbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-content: space-between;
  align-items: center;
  width:100%;
  height:15vh;
  background-color: red;
}

.app-name {

}

.welcome-greeting {
  margin-left:1vw;
}