header {
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 23%, rgba(253, 187, 45, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height:12vh;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-content: space-between;
  align-items: center;
  width:100%;
}

.welcome-greeting {
  margin-left:1vw;
}

.link-to-login {
  margin-bottom: 2em;
  margin-top: .5em;
}

.app-name {
  color: auto;
  font-size: 2.7em;
}

a {
  color: black;
}