.user-dashboard {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
}

.game-collection-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%
}

.my-games-heading {
  margin-bottom: 1em;
}

.borrowed-games-collection {
  border-style: solid;
  border-radius: 11px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1vw;
  padding: 20px 10px;
  align-items: center;
  text-align: center;
  height: auto;
  width: 90%;
  margin-bottom: 1em;
  overflow: scroll;
  contain: content;
}

.game-collection {
  border-style: solid;
  border-radius: 11px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1vw;
  padding: 20px 10px;
  align-items: center;
  text-align: center;
  height: auto;
  width: 90%;
  margin-bottom: 1em;
  overflow: scroll;
  contain: content;
}


.game-collection-headers {
  display: flex;
  width: 100%;
  padding-left: 10%
}

.borrowed-header,
.my-games-header {
  width: 20%;
  border: 1px solid black;
  text-align: center;
  transition-duration: 300ms;
}

.my-games-header {
  margin-right: 2vw;
}

.borrowed-header:hover,
.my-games-header:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.header-focus {
  background: rgb(135, 11, 194);
  background: linear-gradient(45deg, rgba(135, 11, 194, 1) 1%, rgba(14, 59, 157, 1) 49%, rgba(0, 255, 214, 1) 100%);
  background-repeat: no-repeat;
  color: white;
  border: 1px solid transparent;
}

.friends-section {
  display: flex;
  height: max-content;
  flex-direction: column;
  padding: 10px;
  margin-left: 20px;
}

.my-friends-header {
  display: inline-block;
  text-align: center;
}

.friend {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: rgb(62, 117, 244);
  color: white;
  width: 75%;
  height: 20%;
  font-size: 30px;
  margin: 10px;
  padding-right: 10px;
  transition-duration: 400ms;
}

.friend:hover {
  transform: translateX(1em);
}

.friend:hover .smile-svg {
  transform: scale(1.2);
}

.friend-name {
  margin: 1vw;
}

.smile-svg {
  width: 30px;
  height: auto;
  fill: white;
  color: white;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(133deg) brightness(101%) contrast(102%);
  margin-left: 1vw;
}