.user-dashboard {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.game-collection-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-games-heading {
  margin-bottom: 1em;
}

.borrowed-games-collection {
  border-style: solid;
  border-radius: 11px;
  height: 30%;
  width: 67vw;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: .7em;
}

.game-collection {
  border-style: solid;
  border-radius: 11px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  column-gap: 2vw;
  row-gap: 2vw;
  padding: 10px;
  align-items: baseline;
  text-align: center;
  height: 100vh;
  width: 93%;
  margin-bottom: 1em;
  overflow: scroll;
  contain: content;
}

.friends-section {
  display: flex;
  height: max-content;
  flex-direction: column;
  padding: 10px;
}

.my-friends-header {
  display: inline-block;
  text-align: center;
}

.friend {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: rgb(50, 108, 245);
  color: white;
  width: 75%;
  height: 20%;
  font-size: 30px;
  margin: 10px;
  padding-right: 10px;
  transition-duration: 400ms;
}

.friend:hover {
  transform: translateX(1em);
}

.friend:hover .smile-svg {
  transform: scale(1.2);
}

.friend-name {
  margin: 1vw;
}

.smile-svg {
  width: 30px;
  height: auto;
  fill: white;
  color: white;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(133deg) brightness(101%) contrast(102%);
  margin-left: 1vw;
}