body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-family: 'Spectral', serif;
  font-family: 'Forum', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}